@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .shadow-glow-purple {
    box-shadow: 0 0 20px rgba(147, 51, 234, 0.3);
  }

  .shadow-glow-purple-hover:hover {
    box-shadow: 0 0 30px rgba(147, 51, 234, 0.5);
  }

  .shadow-glow-purple-subtle {
    box-shadow: 0 0 20px rgba(147, 51, 234, 0.15);
  }
}

@layer components {

  /* Custom Loader */
  .loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: inherit;
    border: 2px solid;
    position: relative;
  }

  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }

  @keyframes l6 {
    100% {
      inset: 0
    }
  }
}